<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page4">
  <ion-content padding="true" style="background: url(img/4W8VngBxTeOW9PJ71sJQ_bg-slide-01.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/0.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>


    <div class="spacer" style="width: 300px; height: 156px;"></div>
    <form id="login-form1" class="list">

      <div class="spacer" style="height: 40px;"></div>

      <a  id="login-button2" class="button button-calm  button-block" ng-click="login()" >Log in with Facebook</a >
    </form>
  </ion-content>
</ion-view>
